<p id="notice"><%= notice %></p>

<p>
  <strong>Professor:</strong>
  <%= @class_assignment.professor_id %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @class_assignment.classroom_id %>
</p>

<%= link_to 'Edit', edit_class_assignment_path(@class_assignment) %> |
<%= link_to 'Back', class_assignments_path %>
